body {
        background-color: black;
}
#title {
            background-color: white;
            color: black;
            text-align: center;
}
#gameCanvas {
            background-color: white;
            width: 640px;
            height: 360px;
            margin: auto;
            border: 3px solid white;
}
